<!-- <app-right-header></app-right-header> -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 style=" color: white; text-align: center; padding: 5px; background-color: #ff6354; font-size: 24px; font-weight: 500; ">
                    {{ contentLan.TAKINGOFF }}
                </h4>
            </div>
        </div>
        <div class="row" *ngFor="let data of takingReduce">
            <app-cards [obj]='data' (onLike)="addtolike($event)" (onSave)="addtosave($event)">
            </app-cards>
        </div>
        <section *ngIf="takingoffhome.length >5">
            <div class="col-xl-12" style="text-align: center;" *ngIf='takingReduce.length != takingoffhome.length'>
                <button type="button" class="btn btn-sm btn-light" style=" color: #ff485e; border: 1px solid #ff475e; " (click)="paginationNext()">Show More</button>
            </div>
            <div class="col-xl-12" style="text-align: center;" *ngIf='takingReduce.length == takingoffhome.length'>
                <button type="button" class="btn btn-sm btn-light" style=" color: #ff485e; border: 1px solid #ff475e; " (click)="paginationLess()">Show Less</button>
            </div>
        </section>
    </div>
</section>

<!-- <app-footer></app-footer> -->