.box1 {
    background: #f5f5f5 0% 0% no-repeat padding-box;
    border: 1px solid #7070701F;
    opacity: 1;
    padding: 50px 50px 15px 50px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) { 
    .box1 {
        padding: 20px 20px 30px 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) { 
    .box1 {
        padding: 40px 20px 30px 30px;
    }
}
.projecttitle {
    font-size: 22px;
    font-weight: 500;
    color: #353535;
    opacity: 1;
    margin-top: 2%;
}

.projecttitlepara {
    font-size: 14px;
    color: #9A999E;
    opacity: 1;
}

.projecttitlehr {
    height: 130px;
    border: 1px solid #FE953A;
    opacity: 1;
    width: 0px;
    margin: 0 0 20px 0;
}

::placeholder {
    font-size: 14px;
}
.title {
    margin-top: 2%;
    background-color: #e7e7e8;
    border: none;
    padding: 10px 20px 10px 20px;
    opacity: 1;
}

.subtitle {
    margin-top: 3%;
    background-color: #e7e7e8;
    border: none;
    padding: 10px 20px 10px 20px;
    opacity: 1;
}

.box2 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #7070701F;
    opacity: 1;
    padding: 50px 50px 15px 50px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) { 
    .box2 {
        padding: 20px 20px 30px 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) { 
    .box2 {
        padding: 40px 20px 30px 30px;
    }
}


.category.form-select {
    margin-top: 2%;
    background-color: #e7e7e8;
    border: none;
    padding: 10px 20px 10px 20px;
    opacity: 1;
    font-size: 14px;
    color: #6c6c6d;
}

.subcategory {
    margin-top: 3%;
    background-color: #e7e7e8;
    border: none;
    padding: 10px 20px 10px 20px;
    opacity: 1;
    font-size: 14px;
    color: #6c6c6d;
}


.location {
    margin-top: 7%;
    background-color: #e7e7e8;
    border: none;
    padding: 10px 20px 10px 20px;
    opacity: 1;
}

.image {
    margin-top: 7%;
}
input[type="file"] {
    height: 38px;
}

.video {
    margin-top: 7%;
}

.fundamt {
    font-size: 14px;
    color: #9A999E;
    opacity: 1;
    margin-top: 3%;
    padding: 0 0 10px 0;
}
.fundingno {
    background-color: #e7e7e8;
    border: none;
    padding: 10px 20px 10px 20px;
    opacity: 1;
    width: 85%;
}

.fundsar {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #353535 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 15%;
    padding: 8px 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) { 
    .fundsar {
        position: relative;
        /* top: 2.6rem; */
        padding: 10px 15px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) { 
    .fundsar {
        position: relative;
        /* top: 2.6rem; */
        padding: 6px 0px 10px 10px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) { 
    .fundsar {
        padding-left: 18px;
    }
}
.launchdate {
    margin-top: 7%;
    background-color: #e7e7e8;
    border: none;
    padding: 10px 20px 10px 20px;
    opacity: 1;
}

.proj_bottom_cont {
    padding: 40px 0 40px 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) { 
    .proj_bottom_cont {
        padding: 20px 0 20px 0;
    }
}
.nextprojectidea {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    background: transparent linear-gradient(257deg, #FF5959 0%, #FE953A 100%) 0% 0% no-repeat padding-box;
    border-radius: 43px;
    border: none;
    padding: 15px 50px 15px 50px;
    float: right;
}

.nextprojectidea:hover {
    background: #353535;
}
.previousprojectidea {
    font-size: 20px;
    font-weight: 500;
    color: #353535;
    background: white;
    border-radius: 43px;
    opacity: 1;
    border: none;
    padding: 15px 0px 15px 0px;
    float: right;
    transition: transform .2s;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) { 
    .previousprojectidea {
        position: relative;
        right: 50px;
    }
}

.previousprojectidea i {
    font-size: 30px;
    padding-right: 20px;
    position: relative;
    top: 5px;
}

.previousprojectidea i:lang(ar) {
 padding-left: 20px;
 padding-right: auto;
}

.previousprojectidea:hover {
    transform: scale(1.1);
    color: #FE953A;
}

.calender_icon {
    background: transparent linear-gradient(180deg, #FF5959 0%, #FE953A 100%) 0% 0% no-repeat padding-box;
    float: right;
    position: absolute;
    top: -43px;
}

.calender_icon i {
    color: #fff;
    padding: 13px 18px;
}

.closevideo {
    width: 5%;
    background: none;
    border: none;
    text-align: end;
    color: #ff4560;
    margin-left: 95%;
}