<!-- Header -->
<!-- <app-right-header></app-right-header> -->
<!-- content -->

<section *ngFor="let item of topBanner" [style.background]="background">
>
    <div class="centered">
        <h2 *ngIf=" dir == 'ltr'">{{item.bannerHeader}}</h2>
        <h2 *ngIf=" dir == 'rtl'">{{item.bannerHeader_Ar}}</h2>
        <p *ngIf=" dir == 'ltr'">{{item.bannerDescription}}</p>
        <p *ngIf=" dir == 'rtl'">{{item.bannerDescription_Ar}}</p>
    </div>
</section>
<section class="sec2" *ngFor="let item of bodySection">
    <div class="container">
        <div class="row overcontent">
            <h4 class="sec_header" *ngIf=" dir == 'ltr'">{{item.Header}}</h4>
            <h4 class="sec_header" *ngIf=" dir == 'rtl'">{{item.Header_Ar}}</h4>
            <p class="sec_desc" *ngIf=" dir == 'ltr'" style="color: black;">{{item.Description}}</p>
            <p class="sec_desc" *ngIf=" dir == 'rtl'" style="color: black;">{{item.Description_Ar}}</p>
        </div>
        <div class="row">
            <section class="fikra_ques_sec" *ngFor='let data of rules.accordian'>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" [id]="'flush-headingOne'+data._id">
                            <button class="accordion-button collapsed" style='color: black;' type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapseOne'+data._id" aria-expanded="false" [attr.aria-controls]="'flush-collapseOne'+data._id">
                                <span *ngIf=" dir == 'ltr'" class="collspan" >{{data.Header}}</span>
                                <span *ngIf=" dir == 'rtl'"  class="collspan" >{{data.Header_Ar}}</span>
                            </button>
                        </h2>
                        <div [id]="'flush-collapseOne'+data._id" class="accordion-collapse collapse sepacc" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" *ngIf=" dir == 'ltr'" style='font-size: 15px;'>{{data.Description}}
                                <!-- <p *ngIf=" dir == 'ltr'" [innerHtml]='policy'></p> -->
                            </div>
                            <div class="accordion-body" *ngIf=" dir == 'rtl'" style='font-size: 15px;'>{{data.Description_Ar}}
                            </div>
                            <a target="_blank" href="{{data.downloadLink}}" class="accbutton">Download</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<!-- Footer -->
<!-- <app-footer></app-footer> -->