.login_sec {
    overflow: hidden;
    height: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .login_sec {
        overflow: hidden;
        height: auto;
    }
    .login_side_img {
        display: none;
    }
}

.login_side_img {
    padding: 60px 0;
    position: relative;
    left: -15px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .login_sec {
        height: 100%;
    }
}

.loginhead {
    margin-top: 60%;
    font-size: 20px;
    padding-bottom: 40px;
    font-weight: 500;
    color: #353535;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .loginhead {
        margin-top: 10%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
    .loginhead {
        margin-top: 60%;
        font-size: 14px;
        padding-bottom: 20px;
    }
}

.form-group {
    padding-bottom: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
    .form-group {
        padding-bottom: 20px;
    }
}

.form-control {
    height: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
    .form-control {
        height: 40px;
    }
}

::-webkit-input-placeholder {
    /* Edge */
    font-size: 16px;
    font-weight: 500;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 16px;
    font-weight: 500;
}

::placeholder {
    font-size: 16px;
    font-weight: 500;
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
     ::placeholder {
        font-size: 12px;
    }
}

.remindme {
    font-size: 16px !important;
    font-weight: 400;
    color: #353535;
    margin-left: 2%;
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
    .remindme {
        font-size: 12px !important;
    }
}

.signup_sec {
    list-style: none;
    padding-left: 0;
}

.signup_sec li {
    display: inline-block;
    padding-right: 14px;
}

.singup {
    background: transparent linear-gradient(180deg, #FF5959 0%, #FE953A 100%) 0% 0% no-repeat padding-box;
    border-radius: 86px;
    opacity: 1;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 10px 35px 10px 35px;
    box-shadow: 5px 5px 13px #00000021;
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
    .singup {
        font-size: 12px !important;
    }
}

.singup:hover {
    background: transparent;
    color: #000;
}

.loginor {
    position: relative;
    top: 5px;
    font-size: 20px;
    font-weight: 500;
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
    .loginor {
        font-size: 16px !important;
        top: 3px;
    }
}

.googlelogin {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 13px #00000021;
    opacity: 1;
    border: none;
    border-radius: 61px 61px;
    padding: 10px 10px 10px 10px;
    width: 40px;
    transition: transform .2s;
}

.loginpageimg1 {
    position: relative;
    right: -13px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .loginpageimg1 {
        right: -21px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .loginpageimg1 {
        display: none;
    }
}

.googlelogin:hover {
    transform: scale(1.1);
}

.applelogin {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 13px #00000021;
    opacity: 1;
    border: none;
    border-radius: 61px 61px;
    padding: 10px 10px 10px 10px;
    width: 40px;
    transition: transform .2s;
}

.applelogin:hover {
    transform: scale(1.1);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .col-md-1 {
        width: 0%;
    }
    .empty {
        width: 0%;
    }
    .col-md-3 {
        width: 42%;
    }
}

@media only screen and (min-width: 768px) {
    .mobile_only_sec {
        display: none;
    }
}

.forget_pass {
    font-size: 12px;
}