<section class="login_sec">
    <div class="container-fluid">

        <div class="row mobile_only_sec">
            <div class="col-2"></div>
            <div class="col-8">
                <img src="assets/image/top_design.svg" class="img-fluid">
            </div>
            <div class="col-2"></div>
        </div>
        <form name="form" [formGroup]="verifypassForm" ngNativeValidate>
            <div class="row">
                <div class="col-md-2">
                    <div class="backtohome">
                        <a routerLink="/" routerLinkActive="active" class="homea">
                            <i class="fas fa-arrow-left"></i>{{ contentLan.Home }}</a>
                    </div>
                    <div *ngIf=" dir == 'ltr'">
                        <img src="assets/image/left_design.svg" class="img-fluid login_side_img">
                    </div>
                    <div *ngIf=" dir == 'rtl'">
                        <img src="assets/image/rtl/login_rtl.svg" class="img-fluid login_side_img">
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <h4 class="loginhead">Enter New Password</h4>

                    <div class="form-group">
                        <input type="password" class="form-control" (keyup)="checkpass($event)" pattern="(?=.*\d)(?=.*[a-z]).{8,}" formControlName="newPass" required>
                        <div *ngIf="passcrt">
                            <label style="font-size: 11px; color: red"> {{ errors }}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <ul class="signup_sec">

                                <li><button type="submit" (click)="Onsubmitpass()" class="singup">Update Password</button>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 empty"></div>
                <div class="col-md-4">
                    <img src="assets/image/login.svg" class="img-fluid loginpageimg1">
                </div>

            </div>
        </form>
    </div>
</section>
