<app-right-header></app-right-header>

<div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3" style="margin-top: 3%">
                    <button (click)="goBack()" class="projectauthorseemore">
            {{ contentLan.EXIT }}
          </button>
                </div>
            </div>
        </div>
    </section>
    <section class="proj_ban1">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <div class="video" *ngIf="
              projectpreview?.basicInfoId?.projectVideo == null ||
                projectpreview?.basicInfoId?.projectVideo == 'undefined';
              else elseVideo
            ">
                        <img src="{{ projectpreview?.basicInfoId?.projectImage }}" class="img-fluid projectimage" />
                    </div>
                    <ng-template #elseVideo>
                        <video width="100%" src="{{ projectpreview.basicInfoId.projectVideo }}" controls class="videoimg"></video>
                    </ng-template>
                    <!-- <img src="{{projectpreview?.basicInfoId?.projectImage}}" class="img-fluid projectimage"> -->
                </div>
            </div>
        </div>
    </section>

    <section class="proj_ban1">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="right_hr_line">
                        <div style="display: flex">
                            <h3 class="projecttitle">
                                {{ projectpreview?.basicInfoId?.title }}
                            </h3>
                            <span *ngIf="
                  projectpreview._is_Ower_ && projectpreview._is_On_Live_;
                  else either
                " class="forSpan">{{ contentLan.ACTIVE || "Active" }}</span
              >
              <ng-template #either>
                <span class="forSpan" style="background: red">Inactive</span>
                            </ng-template>
                        </div>
                        <p class="projectcontent">
                            {{ projectpreview?.basicInfoId?.decription }}
                        </p>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <h3 class="projectamt">
                                    <label class="projectcurrency">SAR</label> {{ projectpreview?._amount_Pleadged_ }}
                                </h3>
                                <h4 class="projectpleged">
                                    pledged of SAR {{ projectpreview?.basicInfoId?.goalAmount }} Goal Amount
                                </h4>
                                <span *ngIf="projectpreview?._is_Keep_It_All_ == true; else nothing">
                  <h4 class="bussmodel">
                    {{ contentLan.BUSINESSMODEL }}:
                    <span class="bussmodespan">Keep it all</span>
                                <i class="fas fa-info-circle" ngbTooltip="{{ buskiades }}" style="
                        color: #5c82d4;
                        margin-left: 1%;
                        font-size: 14px;
                        cursor: pointer;
                      " *ngIf="dir == 'ltr'"></i>
                                </h4>
                                </span>
                                <ng-template #nothing>
                                    <h4 class="bussmodel">
                                        {{ contentLan.BUSINESSMODEL }}:
                                        <span class="bussmodespan">All or Nothing</span
                    ><i
                      class="fas fa-info-circle"
                      ngbTooltip="{{ busarndes }}"
                      style="
                        color: #5c82d4;
                        margin-left: 1%;
                        font-size: 14px;
                        cursor: pointer;
                      "
                      *ngIf="dir == 'ltr'"
                    ></i>
                  </h4>
                </ng-template>
              </div>
              <ng-template #elseremindcreator>
                <div class="col-md-6 col-12">
                  <!-- <button class="projectremindme"> Reminder Me</button> -->
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="left_hr_line">
            <div class="row">
              <div class="col-md-6 col-6">
                <p class="project_num">{{ projectpreview?._pledged_count_ }}</p>
                <p class="project_pend_name">{{ contentLan.BACKERS }}</p>
              </div>
              <div
                class="col-md-6 col-6"
                *ngIf="projectpreview?._is_succeed_ == false"
              >
                <p class="project_num">{{ inter }}</p>
                <p class="project_pend_name">{{ luncont }}</p>
              </div>
            </div>
            <!-- <button class="projectbackbtn">Back this project</button> -->
            <!-- <ul class="project_social_icon">
                            <li><i class="fab fa-facebook"></i></li>
                            <li><i class="fa fa-twitter"></i></li>
                            <li><i class="fa fa-instagram"></i></li>
                            <li><i class="fas fa-envelope"></i></li>
                        </ul> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6">
            <ul class="present_ul">
              <li>
                <p class="projectcircle">
                  <img src="assets/image/project/presentation.svg" alt="" />
                </p>
              </li>
              <li>
                {{ projectpreview?.basicInfoId?.categoryName }} ->
                {{ projectpreview?.basicInfoId?.subCategoryName }}
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="present_ul">
              <li>
                <p class="projectcircle">
                  <img src="assets/image/project/compass.svg" alt="" />
                </p>
              </li>
              <li>{{ projectpreview?.basicInfoId?.city }}</li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="present_ul">
              <li>
                <p class="projectcircle">
                  <img src="assets/image/project/location.svg" alt="" />
                </p>
              </li>
              <li>{{ projectpreview?.basicInfoId?.country }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="proj_ban1">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="left_scroll">
            <div class="left_tab_head">
              <button
                (click)="onDisplayModeChange(1)"
                [ngClass]="{ 'btn-primary ': displayMode === 1 }"
              >
                {{ contentLan.CAMPAIGN }}
              </button>
              <button
                (click)="onDisplayModeChange(2)"
                [ngClass]="{ 'btn-primary ': displayMode === 2 }"
                data-toggle="tooltip"
                data-placement="top"
                title="Unlock after Launch"
                disabled
              >
                {{ contentLan.FAQ }}
                <!-- <label class="numcountfaq">0</label> -->
              </button>
              <button
                (click)="onDisplayModeChange(3)"
                [ngClass]="{ 'btn-primary ': displayMode === 3 }"
                data-toggle="tooltip"
                data-placement="right"
                title="Unlock after Launch"
                disabled
              >
                {{ contentLan.UPDATE }}
                <!-- <label class="numcountfaq">0</label> -->
              </button>
              <button
                (click)="onDisplayModeChange(4)"
                [ngClass]="{ 'btn-primary ': displayMode === 4 }"
                data-toggle="tooltip"
                data-placement="right"
                title="Unlock after Launch"
                disabled
              >
                {{ contentLan.COMMENT }}
                <!-- <label class="numcountfaq">0</label> -->
              </button>
              <!-- <button (click)="onDisplayModeChange(5)" [ngClass]="{'btn-primary ': displayMode === 5}">Community <label
                                class="numcountfaq">0</label></button> -->
              <button
                (click)="onDisplayModeChange(6)"
                [ngClass]="{ 'btn-primary ': displayMode === 6 }"
              >
                {{ contentLan.RISKANDCHALLENGE }}
              </button>
            </div>
            <div class="scroll">
              <!-- <div class="box">
                            <div class="row">
                                <div class="col-md-8 col-6">
                                    <div class="tab_div">
                                        <h4 class="projectauthorname">Nabeel k</h4>
                                        <ul>
                                            <li>10 created</li>
                                            <li>50 backed</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 col-6">
                                    <img src="assets/image/avatar-placeholder.png" class="img-fluid proj_user_img">
                                </div>
                            </div>

                        </div> -->
              <h4 class="projectsupport">{{ contentLan.SUPPORT }}</h4>
              <hr class="projectsupporthr" />

              <div>
                <!-- <div class="row">
                                <p class="projectpledgenot"> {{rewardsshow.title}}</p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="projectpledgecurrency">SAR</label>
                                    </div>
                                    <div class="col-md-8">
                                        <h5 style=" margin-left: 15%; font-size: 24px; ">{{rewardsshow.amount}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="pledgebox">
                                    <h4 class="pledgeboxhead">{{ contentLan.ESTIMATEDELIVERY }} :<span style="color: coral;"> {{rewardsshow.estimateDelivery}}</span> </h4>
                                    <hr class="pledgeboxhr" style="margin: 20px 10px 20px 10px;">
                                    <h3 class="pledgeboxhead"> {{ contentLan.SHIPSTO }} : </h3>
                                    <h4 class="pledgeboxhead"> {{rewardsshow.sippingType}} </h4>
                                    <hr class="pledgeboxhr" style="margin: 20px 10px 20px 10px;">
                                    <p class="pledgeboxdesc">{{rewardsshow.description}}</p>
                            </div>
                        </div> -->
                        <ol style="padding-left: 0px; list-style-type: none">
                            <li>
                                <div class="box1" *ngFor="let rewardsshow of showreward">
                                    <!-- <p class="pledge" style="color: red">Discount <span style="text-decoration: line-through;"> {{+rewardsshow.amount +
                                                    +originalvalue}} SAR</span></p> -->
                                    <p class="pledge" style="color: green; font-weight: bold">
                                        {{ rewardsshow.amount }} SAR
                                    </p>
                                    <!-- <input type="hidden" formControlName="rewardId" value={{rewardsshow._id}} [(ngModel)]="rewardsshow._id"> -->
                                    <input type="hidden" formControlName="pledgeAmount" value="{{ rewardsshow.amount }}" />
                                    <h3 class="pledgetitle">{{ rewardsshow.title }}</h3>
                                    <p class="pledgedesc">{{ rewardsshow.description }}</p>
                                    <h5 class="pledgeinclude">Includes :</h5>
                                    <span *ngFor="let rewardsshowitem of rewardsshow.items">
                        <label class="includeround"></label>

                        <p class="includepoints">{{ rewardsshowitem.title }}</p>
                      </span>
                                    <p class="pledgeestimated">
                                        {{ contentLan.ESTIMATEDELIVERY }} :
                                        <label class="pledgeestimatedop">{{
                          rewardsshow.estimateDelivery | date: "MMMM , y"
                        }}</label>
                                    </p>
                                    <p class="pledgeestimated">
                                        {{ contentLan.SHIPSTO }} :
                                        <label class="pledgeestimatedop">{{
                          rewardsshow.sippingType
                        }}</label>
                                    </p>
                                    <span *ngFor="let rewardsship of rewardsshow.sipping">
                        <p class="pledgebackers">
                          {{ rewardsship.destination }}
                          <span style="margin-left: 60%">
                            SA{{ rewardsship.cost }}
                          </span>
                                    </p>
                                    </span>

                                    <!-- <p class="pledgelimited">Limited (124 left of 3000 )</p> -->

                                    <!-- <p class="pledgeaddons">Add-ons</p> -->
                                </div>
                            </li>
                        </ol>
                        <!-- <button class="projectauthorseemore">Continue</button> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9 proj_story_risk" *ngIf="displayMode === 1">
            <div class="row">
                <div class="col-md-12">
                    <h2 id="story">Story</h2>
                    <p [innerHtml]="projectpreview?.storyTableId?.description"></p>
                </div>
                <!-- <div class="col-md-6">
                             <ul class="story_risk_tab_head">
                                <li><a [routerLink]="['../projectpreview']" fragment="risks" class="risklink">Risks</a></li>
                                <li><a [routerLink]="['../projectpreview']" fragment="story" class="storylink">Story</a></li>
                            </ul> -->

                <!-- </div> -->
            </div>
            <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                    <img src="assets/image/project/story1.svg" alt="" class="img-fluid proj_name">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                    <img src="assets/image/project/story2.svg" alt="" class="img-fluid proj_name">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum
                        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum is simply dummy
                        text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                    <img src="assets/image/project/story3.svg" alt="" class="img-fluid proj_name">
                    <h2 id="risks">Risks</h2>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum
                        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's Lorem Ipsum is simply dummy
                        text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p> -->
        </div>

        <div class="col-md-9" *ngIf="displayMode === 2">
            <h2>{{ contentLan.FAQ }}</h2>
            <h3 style="text-align: center">No Records Found</h3>
            <span style="margin-left: 25%">This section will be activated once Project goes Live</span
          >
        </div>
        <div class="col-md-9" *ngIf="displayMode === 3">
          <h2>{{ contentLan.UPDATE }}</h2>
          <h3 style="text-align: center">No Records Found</h3>
          <span style="margin-left: 25%"
            >This section will be activated once Project goes Live</span
          >
        </div>
        <div class="col-md-9" *ngIf="displayMode === 4">
          <h2>{{ contentLan.COMMENT }}</h2>
          <h3 style="text-align: center">No Records Found</h3>
          <span style="margin-left: 25%"
            >This section will be activated once Project goes Live</span
          >
        </div>
        <!-- <div class="col-md-9" *ngIf="displayMode === 5">
                    <h2> Community</h2>
                </div> -->
        <div class="col-md-9" *ngIf="displayMode === 6">
          <h2>{{ contentLan.RISKANDCHALLENGE }}</h2>
          <p>{{ projectpreview?.storyTableId?.risk_chalenges }}</p>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>