<section class="about_us">
    <div class="container">
        <div class="row" *ngIf=" _is_Top_On_ == true">
            <div class="col-md-12">
                <img src="{{topImage}}" class="img-fluid aboutusimage">
            </div>
        </div>
        <div class="row firstrow" *ngIf="_is_Top_On_ == true">
            <div class="col-md-12 para" *ngIf=" dir == 'ltr'">
                <p [innerHtml]='topContent'></p>
            </div>
            <div class="col-md-12 para" *ngIf=" dir == 'rtl'">
                <p [innerHtml]='topContentAr'></p>
            </div>
        </div>
        <div class="row firstrow" *ngFor="let data of mission">
            <div class="col-md-6" *ngIf="data._is_Sec_On_ == true">
                <img src="{{data.secImage}}" class="img-fluid ourmissionimage">
            </div>
            <div class="col-md-6" *ngIf="data._is_Sec_On_ == true">
                <h4 class="firstrow" *ngIf=" dir == 'ltr'">{{data.secHeadName}}</h4>
                <h4 class="firstrow" *ngIf=" dir == 'rtl'">{{data.secHeadNameAr}}</h4>

                <p class="para" style="margin-top: 3%;" *ngIf=" dir == 'ltr'">{{data.secContent}}</p>
                <p class="para" style="margin-top: 3%;" *ngIf=" dir == 'rtl'">{{data.secContentAr}}</p>
            </div>
        </div>
        <div class="row" style="margin-top: 5%;" *ngIf=" _is_Middle_On_ == true">
            <div class="col-md-12">
                <!-- <img src="{{topImage}}" class="img-fluid aboutusimage"> -->
                <h4 *ngIf=" dir == 'rtl'">{{middleHeadar}}</h4>
                <h4 *ngIf=" dir == 'ltr'">{{middleHead}}</h4>
            </div>
        </div>
        <div class="row firstrow" *ngIf=" _is_Middle_On_ == true">
            <div class="col-md-12 para" *ngIf=" dir == 'ltr'">
                <p [innerHtml]='middileContend'></p>
            </div>
            <div class="col-md-12 para" *ngIf=" dir == 'rtl'">
                <p [innerHtml]='middileContendAR'></p>
            </div>
        </div>
    </div>
</section>
