.sec1 {
    margin: 40px 0;
    text-align: center;
}

.what_banner_sec{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 40px;
}
.what_banner_sec h2{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .what_banner_sec h2 {
       font-size: 20px;
       padding-bottom: 10px;
    }
}
.what_banner_sec p{
    text-align: center;
    color: #fff;
    font-size: 14px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .what_banner_sec p {
       font-size: 12px;
    }
}

.banner_cont_sec{
    margin-top: 35%;
    transform: translateY(-50%);
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .banner_cont_sec {
        margin-top: 50%;
        transform: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .banner_cont_sec {
        margin-top: 60%;
    }
}

.sec_header {
    font-size: 28px;
    text-align: center;
    margin: 0px 0px 2% 0px;
}

.sec_desc {
    font-size: 18px;
}

.sec2 {
    margin: 5%;
}

.overcontent {
    margin: 5% 0%;
}

.accordion {
    border: 1px solid #7070704d;
}

.fikra_ques_sec {
    margin: 10px 0px 20px 0px;
}

p {
    opacity: 0.8;
}

.collspan {
    font-size: 22px;
    color: #1b1b1b;
}

.centered {
    text-align: center;
    color: white;
    height: 350px;
    padding: 100px 200px;
}
.accbutton {
    background: #ff455f;
    color: white;
    border: none;
    padding: 5px 15px;
    margin-left: 20px;
    text-decoration: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .centered {
        text-align: center;
        /* background: linear-gradient( 90deg, rgba(221, 151, 167, 1) 0%, rgba(227, 142, 161, 1) 52%, rgba(231, 134, 156, 1) 100%); */
        color: white;
        padding: 40px;
        height: auto;
    }
    .accbutton {
        background: #ff455f;
        color: white;
        border: none;
        padding: 5px 15px;
        margin-left: 20px;
        font-size: 14px;
        text-decoration: none;
    }
    .collspan {
        font-size: 14px;
        color: #9a999e;
    }
}