<!-- <app-right-header></app-right-header> -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 style="
            color: white;
            text-align: center;
            padding: 5px;
            background-color: #ff6354;
            font-size: 24px;
            font-weight: 500;
          ">
                    {{ contentLan.HOMESTRETCH }}
                </h4>
            </div>
        </div>
     
        <div class="row" *ngFor="let data of homeReduce">
            <app-cards [obj]='data' (onLike)="addtolike($event)" (onSave)="addtosave($event)"></app-cards>

        </div>
        <section *ngIf="homestretch.length >5">
            <div class="col-xl-12" style="text-align: center;" *ngIf='homeReduce.length != homestretch.length'>
                <button type="button" class="btn btn-sm btn-light" style=" color: #ff485e; border: 1px solid linear-gradient(90deg, #34a853 4%, #4285f4 0%) top/100% 34% no-repeat, linear-gradient(90deg, #fbbc04 50%, #4285f4 0%) top/100% 82% no-repeat, linear-gradient(90deg, #fbbc04 10%, #ea4335 0%) top/100% 100%;
                    ; " (click)="paginationNext()">Show More</button>
            </div>
            <div class="col-xl-12" style="text-align: center;" *ngIf='homeReduce.length == homestretch.length'>
                <button type="button" class="btn btn-sm btn-light" style=" color: #ff485e; border: 1px solid #ff475e; " (click)="paginationLess()">Show
                    Less</button>
            </div>
        </section>
    </div>
</section>

<!-- <app-footer></app-footer> -->