<app-right-header></app-right-header>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4
          style="
            color: white;
            text-align: center;
            padding: 5px;
            background-color: #ff6354;
            font-size: 24px;
            font-weight: 500;
          "
        >
          {{ contentLan.HOMESTRETCH }}
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <section class="saved_cont_sec" *ngFor="let obj of homestretch">
          <div class="row">
            <diV class="col-md-3">
              <img src="{{ obj.basicInfoId.projectImage }}" class="img-fluid" />
            </diV>
            <div class="col-md-9">
              <ul class="icons_sec">
                <li>
                  <span
                    [swal]="['Hi', 'Login required for this activity']"
                    *ngIf="userver == null; else showsave"
                    (click)="notuser()"
                  >
                    <i
                      class="fa fa-bookmark-o"
                      style="color: #f13b0099"
                      aria-hidden="true"
                    ></i
                  ></span>
                </li>

                <ng-template #showsave>
                  <li>
                    <span (click)="addtosave(obj._id)">
                      <!-- <img src="assets/image/project/bookmark.svg " style="cursor: pointer;margin-top: 20%; "> -->
                      <i
                        class="fa fa-bookmark-o"
                        style="color: #f13b0099"
                        aria-hidden="true"
                        *ngIf="obj._is_Saved_Project == false"
                      ></i>
                      <i
                        class="fa fa-bookmark"
                        style="color: #f13b0099"
                        aria-hidden="true"
                        *ngIf="obj._is_Saved_Project == true"
                      ></i>
                    </span>
                  </li>
                </ng-template>
                <li>
                  <span
                    [swal]="['Hi', 'Login required for this activity']"
                    *ngIf="userver == null; else showlike"
                    (click)="notuser()"
                  >
                    <i
                      class="fa fa-thumbs-o-up"
                      style="color: #f13b0099"
                      aria-hidden="true"
                    >
                    </i>
                  </span>
                </li>
                <ng-template #showlike>
                  <li>
                    <span (click)="addtolike(obj._id)">
                      <i
                        class="fa fa-thumbs-o-up"
                        style="color: #f13b0099"
                        aria-hidden="true"
                        *ngIf="obj._is_Liked_Project == false"
                      ></i>
                      <i
                        class="fa fa-thumbs-up"
                        style="color: #f13b0099"
                        aria-hidden="true"
                        *ngIf="obj._is_Liked_Project == true"
                      ></i>
                    </span>
                  </li>
                </ng-template>
              </ul>
              <a
                [routerLink]="['/projectview', obj._id]"
                (click)="localprojectid()"
                style="text-decoration: none; color: black"
              >
                <ul class="cont_sec_pro">
                  <li style="padding: 0px">
                    <i class="fa fa-list-alt" aria-hidden="true"></i
                    >{{ obj.basicInfoId.categoryName }}-->
                    {{ obj.basicInfoId.subCategoryName }}
                  </li>
                  <li>
                    <i class="fa fa-map-marker"></i>{{ obj.basicInfoId.city }}
                  </li>
                </ul>
                <h6 *ngIf="obj._is_All_Nothing_ == true">
                  {{ contentLan.BUSINESSMODEL }}:
                  <span style="color: #ff4264"
                    >{{ contentLan.ALLORNOTHING }}
                    <i
                      class="fas fa-info-circle"
                      ngbTooltip="{{ contentLan.ALLORNOTHING }}"
                      style="
                        color: #5c82d4;
                        margin-left: 1%;
                        font-size: 14px;
                        cursor: pointer;
                      "
                    ></i
                  ></span>
                </h6>
                <h6 *ngIf="obj._is_Keep_It_All_ == true">
                  {{ contentLan.BUSINESSMODEL }}:
                  <span style="color: #ff4264"
                    >{{ contentLan.KEEPALL
                    }}<i
                      class="fas fa-info-circle"
                      ngbTooltip="{{ contentLan.KEEPALL }}"
                      style="
                        color: #5c82d4;
                        margin-left: 1%;
                        font-size: 14px;
                        cursor: pointer;
                      "
                    ></i
                  ></span>
                </h6>
                <h3>{{ obj.title }}</h3>
                <p class="feat_cont">{{ obj.basicInfoId.decription }}</p>
                <p class="by_bame">{{ obj.userId.userName }}</p>
                <hr class="cont_sec_hr" />
                <ul class="save_last_sec">
                  <li class="coloured">
                    {{ contentLan.GOAL || "Goal" }}: SAR
                    {{ obj.basicInfoId.goalAmount }}
                  </li>
                  <li>
                    {{ contentLan.LAUNCH || "Launch" }}:{{ obj.inter }}
                    {{ obj.luncont }}
                  </li>
                  <li>
                    {{ contentLan.PLEDGE || "Pledge" }}:{{
                      obj._amount_Pleadged_
                    }}
                    &nbsp;({{ obj.featurelastpercentage | number: "1.0-0" }}%)
                  </li>
                  <li>
                    {{ contentLan.PLEDGE || "Pledge" }}Count:{{
                      obj._pledged_count_
                    }}
                  </li>
                </ul>
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
