<app-right-header></app-right-header>
<section class="header-color">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <h6>Creator Handbook</h6>
            <h2>Fullfillment</h2>
        </div>
    </div>
</section>
<section class="content-para">
    <div class="container">
        <p>Fikra uses an all-or-nothing funding model. If your project doesn’t reach its goal, then funds don’t get collected, and no money changes hands. This minimizes risk for creators — imagine ending up with only $5,000 and a bunch of people expecting
            a $50,000 film! All-or-nothing funding makes it easier for backers to pledge to your project with confidence that you’ll be able to get the job done.</p>
        <p>Your funding goal should be the minimum amount you need to make what you promised and fulfill all rewards. The first step to setting that goal is figuring out a budget. </p>
    </div>
</section>
<section class="getting-btn">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button [routerLink]="'/funding'"> < Funding </button>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button [routerLink]="'/tell-your-story'" style=" margin-left: 45%; ">Telling your story ></button>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>