.following_sec{
padding: 80px 0 40px 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) { 
.following_sec{
padding: 60px 10px 0 10px;
}
}
.followdiscover {
font-size: 25px;
font-weight: 600;
color: #353535;
}

.followdiscovercontent {
font-size: 14px;
font-weight: 500;
color: #9A999E;
margin-top: 5%;
}

.followline {
width: 0px;
height: 180px;
border: 1px solid #d4cfcfe8;
opacity: 1;
margin-left: 35%;
margin-top: 0%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) { 
.followline{
display: none;
}
}
.find {
background: transparent linear-gradient(254deg, #FF5959 0%, #FE953A 100%) 0% 0% no-repeat padding-box;
font-size: 14px;
font-weight: 500;
color: #FFFFFF;
border: none;
padding: 10px 30px 10px 30px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) { 
.find {
margin-bottom: 20px;
}
}
.find:hover{
    background: #353535;
}
.continuewithfb {
background: #3B5998 0% 0% no-repeat padding-box;
font-size: 14px;
font-weight: 500;
color: #FFFFFF;
border: none;
padding: 10px 25px 10px 25px;
}
.continuewithfb:hover{
    background: #353535;
}
.btn-primary:focus {
box-shadow: none;
}