<app-right-header></app-right-header>
<section class="following_sec">
<div class="container">
<div class="row">
<div class="col-md-6">
<h3 class="followdiscover">Follow creators and Facebook friends to discover more projects.</h3>
<p class="followdiscovercontent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
specimen book.</p>
</div>
<div class="col-md-1">
<hr class="followline">
</div>
<div class="col-md-5">
<h3 class="followdiscover">Following</h3>
<p class="followdiscovercontent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
specimen book.
</div>

<div class="col-md-2">
<button class="find">Find Creators</button>
</div>
<div class="col-md-4">
<button class="continuewithfb">Continue with Facebook</button>
</div>
</div>
</div>
</section>
<app-footer></app-footer>