.header-color {
    background-color: #c1c1c1c2;
    height: 200px;
    padding: 100px 100px 140px 100px;
}

.header-color h2 h4 h6 {
    color: black;
    font-size: 22px;
}


.getting-btn button {
    border: none;
    padding: 10px 20px 10px 20px;
    font-weight: 600;
    color: white;
    background: transparent linear-gradient( 265deg, #FF5959 0%, #FE953A 100%) 0% 0% no-repeat padding-box;
}

.content-para {
    margin-top: 5%;
    font-size: 20px;
    font-weight: 500;
    color: #000000c7;
    margin-bottom: 5%;
}