<a (click)="popup = true" style="font-size: 25px;    margin-left: 10%;"><i class="fa fa-user-circle-o"
        aria-hidden="true"></i></a>
<div>
    <div class="overlay" *ngIf="popup">
        <div class="popup">
            <div class="container">
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <a class="close" (click)="popup = false">&times;</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 profile_sec">
                    </div>
                    <div class="row">
                        <h3 class="youracccount">YOUR ACCOUNT</h3>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="profile_ul">
                                <li class="profile_li"><a routerLink="/savedproject">Saved projects </a></li>
                                <li class="profile_li"> <a routerLink="/recommended">Recommended for you </a></li>
                                <li class="profile_li"><a routerLink="/following">Following </a></li>
                            </ul>
                        </div>
                        <div class="col-md-1">
                            <hr class="profil_hr">
                        </div>
                        <div class="col-md-5">
                            <ul class="profile_ul">
                                <li class="profile_li"><a routerLink="/profile">Profile </a></li>
                                <li class="profile_li"> <a routerLink="/account/1">Settings </a></li>
                                <li class="profile_li"><a routerLink="/following">Messages </a></li>
                                <li class="profile_li"><a routerLink="/activity">Activity </a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="createdproject">CREATED PROJECTS</h3>
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a class="createnewa" routerLink="/createproject">
                                <button class="createplus">+</button><span class="createnew">Create New</span>

                            </a>
                        </div>
                        <div class="col-md-6">
                            <a>
                                <button class="logouticon"><i class="fa fa-sign-out"
                                        aria-hidden="true"></i></button><span class="createnew">Logout</span>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>